{% extends 'base.html' %}
{% block content %}
<style>
    body{
        background: linear-gradient(120deg, blueviolet,black);
        margin: 0;
        overflow: hidden;
        height: 100vh;
    }
</style>

<body>
    <div class="log"  style="width: 15cm; margin-top: 10%; margin-left: 30%;">
        <div class="shadow p-3 mb-5 bg-body rounded" id="cardy" style=" color: black;">
            <h1 style="margin-left: 35%; font-weight: 900;">Register</h1>
            <hr>
                <form action="" method="POST"  style="width: 5cm; margin-left: 20%; color: blueviolet;">
                    {%csrf_token%}
                    <div class="inputBx">
                        <Label>Username:</Label>
                        {{form.username}}
                    </div>
                    
                    <div class="inputBx">
                        <Label>Email Address:</Label>
                        {{form.email}}
                    </div>
                
                    <div class="inputBx">
                        <label for="">Password:</label>
                        {{form.password1}}
                    </div>
                
                    <div class="inputBx">
                        <label for="">Confirm Password:</label>
                        {{form.password2}}
                    </div>
                    <br>
                    <p>If you have an account <a href="{% url 'login' %}">Please Click here</a> to log in</p>
                    
                    <input type="submit" class="btn btn-outline-secondary" style=" margin-left: 60%;" value="Register"/>
                </form>
        </div> 
    </div>
</body>

{% endblock %}